BasedOnStyle: LLVM
IndentWidth: 4                # At least 3 spaces for indentation
UseTab: Never
ColumnLimit: 80               # Max line width
BreakBeforeBraces: Allman      # Braces on their own line
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
SpaceBeforeParens: ControlStatements # Space after if/for/while
SpacesInParentheses: false    # No spaces just inside parentheses
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
# SpaceAroundOperators: true    # Spaces around +, -, *, /, etc.
SpaceAfterCStyleCast: true
SpaceBeforeCtorInitializerColon: true
# SpaceAfterCtorInitializerColon: true
PointerAlignment: Right       # "int *ptr;" not "int* ptr;"
BinPackArguments: false       # Don’t cram args onto one line
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 100
PenaltyReturnTypeOnItsOwnLine: 200
AlignTrailingComments: true   # Try to align end-of-line comments
IndentCaseLabels: true

